# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# IDE files
.idea/
*.iml

# Logs
*.log

# Generated
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# System
.DS_Store
Thumbs.db

# Google Services
google-services.json

# Profiling
*.hprof
